<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Destino Feliz</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="container">
	<center>
	<header>

		<div class="p-5 text-center" style="background-color: rgba(0, 0, 0, 0.2);">
		  <h1 class="mb-3">Viajes el Destino Feliz</h1>
		</div>
	  </header>
</center>
	<br>
	<br>
	<br>