<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>

	<body style="background-color: rgba(116, 6, 6, 0.2);">
		<div class="container" style="background-color: rgba(0, 0, 0, 0.365);">
			<br>
			<center>
				<form action="/cotizacion" method="post">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label col-form-label" style="color: whitesmoke;" for="">Num
							Boleto: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="numB" id="numB"
								required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Destino:
						</label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" name="destino" id="destino"
								required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Nombre
							del Cliente: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" name="nombreCliente"
								id="nombreCliente" required="true" />
						</div>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Años
							Cumplidos: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="años" id="años"
								required="true" />
						</div>
						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Tipo de
							Viaje</label>

						<select class="col-sm-2 col-form-select col-form-select-sm" name="tipo" id="tipo">
							<option value="1">Sencillo</option>
							<option value="2">Doble</option>
						</select>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Precio:
						</label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="number" name="precio" id="precio"
								required="true" />
						</div>
					</div>
					<br />
					<button type="submit" class="btn btn-secondary">Calcular</button>
					<input type="reset" value="Limpiar" class="btn btn-secondary" />

					<% let subtotal=precio; let totalfin=0; let impuesto=0; let descuento=0; if (tipo==2) {
						precio=(Number(precio) * .80) + Number(precio); subtotal=precio; } impuesto=subtotal * .16;
						if(años>= 60)
						{
						descuento = (Number(precio)) * .50;
						impuesto = descuento * .16;
						}

						totalfin = (precio - descuento) + impuesto; %>

						<hr/>
						<div class="row mb-3">

							<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;"> Subtotal: </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" value="<%=subtotal%>" disabled="true"> </input>
						</div>
						<br>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Impuesto 16% : </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" value="<%=impuesto%>" disabled="true"> </input> 
						</div>
						<br>

						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Descuento : </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" value="<%=descuento%>" disabled="true"> </input> 
						</div>
						<br>
						<label class="col-sm-2 col-form-label col-form-label" for="" style="color: whitesmoke;">Total a Pagar : </label>
						<div class="col-sm-10">
							<input class="form-control form-control-sm" type="text" value="<%=totalfin%>" disabled="true"> </input>
						</div>
						</div>
		<br>
		<br>
		</form>

		<!-- <img src="./img/toyota.jpg" alt=""> -->
		</center>
		</div>
		<br>
		<%-include('partials/piePagina.html');%>
	</body>

</html>